.search-view {
    max-height: 4vh;
    display: flex;
    flex-direction: row;
    margin: 0px 1em;
    border: 1px solid;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    flex: 1;
    .icon-search {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .icon-common {
        flex: 1;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 2em;
        margin: 2px;
    }
    .search-field {
        &:focus {
            outline: unset;
        }
        flex: 5;
        height: 100%;
        input {
            height: 100%;
            padding: unset;
            margin: unset;
            border: unset;
            width: 100%;
            font-size: 1.5em;
            &:focus {
                outline: unset;
            }
        }

    }
    .setting-search {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}